*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #2a6468;
    color: #e1ecd2;
    padding: 5px 0 5px 0;
    text-align: center;
    font-family: cursive;
    height: auto;
    width: 100%;
}
.element{
    display: flex;
    justify-content: space-around;
    height: 180px;
    padding: 25px 0px 15px 0;
}
.box {
    width: 20%;
    height: 100%;
    text-align: center;
    font-family: cursive;
}

.rock {
    background-image: url(../image/rock-modified.png);
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}
.paper {
    background-image: url(../image/paper-modified.png);
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
}
.scissor {
    background-image: url(../image/scissor-modified.png);
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
}
.result {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: cursive;
}

.counter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.msg_of_res {
    margin-top: 25px;
    height: auto;
}

h2.msg_h2 {
    width: 50%;
    height: auto;
    border-radius: 9px;
    margin: auto;
    padding: 10px;
}
.wrong {
    background-color: rgb(212, 80, 80);
    color: black ;
}
.initial{
    background-color: rgb(133, 100, 226);
    color: rgb(255, 255, 255) ;
}
.right{
    background-color: rgb(90, 231, 137);
    color: black;
    width: 49%;
}
p.msg_p {
    width: 49%;
    background-color: darkgrey;
    height: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 7px;
    padding: 10px;
}
@media screen and (max-width: 550px){
    .rock{
        width: 80px;
        height: 80px;
    }
    .paper  {
        width: 80px;
        height: 80px;
    }
    .scissor{
        width: 80px;
        height: 80px;
    }
}
